<html ng-app="chartApp">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts-ng.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script type="text/javascript">
//See: https://github.com/pablojim/highcharts-ng
var myapp = angular.module('chartApp', ["highcharts-ng"]);

myapp.controller('chartCtrl', function ($scope) {

    $scope.addPoints = function () {
        var seriesArray = $scope.chartConfig.series
        var rndIdx = Math.floor(Math.random() * seriesArray.length);
        seriesArray[rndIdx].data = seriesArray[rndIdx].data.concat([1, 10, 20])
    };

    $scope.addSeries = function () {
        var rnd = []
        for (var i = 0; i < 10; i++) {
            rnd.push(Math.floor(Math.random() * 20) + 1)
        }
        $scope.chartConfig.series.push({
            data: rnd
        })
    }

    $scope.removeRandomSeries = function () {
        var seriesArray = $scope.chartConfig.series
        var rndIdx = Math.floor(Math.random() * seriesArray.length);
        seriesArray.splice(rndIdx, 1)
    }

    $scope.swapChartType = function () {
        if (this.chartConfig.options.chart.type === 'line') {
            this.chartConfig.options.chart.type = 'bar'
        } else {
            this.chartConfig.options.chart.type = 'line'
            this.chartConfig.options.chart.zoomType = 'x'
        }
    }

    $scope.toggleLoading = function () {
        this.chartConfig.loading = !this.chartConfig.loading
    }

    $scope.replaceSeries = function () {
    	
    	var newSeries = []
    	for (var x = 0; x < 3; x++) {
	    	var rnd = []
	        for (var i = 0; i < 5; i++) {
	            rnd.push(Math.floor(Math.random() * 20) + 1)
	        }

	        console.log(this.chartConfig.series[x]);
	        this.chartConfig.series[x].data = rnd;

	        /*
	        newSeries.push({
	        	"data": rnd
	        })
			*/
    	}

    	this.chartConfig.xAxis.categories = ["a","b","c","d","e"];

    	//this.chartConfig.series = newSeries;
    }

    $scope.chartConfig = 
		{
		  "options": {
		    "chart": {
		      "type": "bar"
		    },
		    "plotOptions": {
		      "series": {
		        "stacking": "normal"
		      }
		    },
		    
		  },
		  "series": [
		    {
		      "name": "Tag 1",
		      "data": [
		        1,
		        2,
		        4,
		        7,
		        3
		      ],
		//      "id": "series-0",
		//      "type": "column"
		    },
		    {
		      "name": "Tag 2",
		      "data": [
		        3,
		        1,
		        null,
		        5,
		        2
		      ],
		//      "connectNulls": true,
		  //    "id": "series-1"
		    },
		    {
		      "name": "Tag 3",
		      "data": [
		        5,
		        2,
		        2,
		        3,
		        5
		      ],
		//      "type": "column",
		//      "id": "series-2"
		    }
		  ],
		  "title": {
		    "text": "Users and tags"
		  },
		  "credits": {
		    "enabled": true
		  },
		  "loading": false,
		  "xAxis": {
		  	"categories": ['User1','User2','User3','User4','User5']
		  },
		  "size": {}
		}

		var ws = new WebSocket("ws://localhost:8001/ws")
		ws.onmessage = function(msg) {

			var obj = JSON.parse(msg.data);
			if (obj.chart) {
				$scope.$apply(function () {
					$scope.chartConfig.series = obj.chart.series;
					$scope.chartConfig.xAxis.categories = obj.chart.categories;
					var newHeight = 200 + (obj.chart.categories.length * 50);
					$scope.chartConfig.size["height"] = newHeight;
				});
			}
		}
		
});
	</script>
</head>

<body>
    <div ng-controller="chartCtrl" class="span10">
    	<!--button ng-click="replaceSeries()">Replace</button-->
        <div class="span8">
            <input ng-model="chartConfig.title.text">
			<!--
            <button ng-click="addSeries()">Add Series</button>
            <button ng-click="addPoints()">Add Points to Random Series</button>
            <button ng-click="removeRandomSeries()">Remove Random Series</button>
            <button ng-click="swapChartType()">Line/Bar</button>
            <button ng-click="toggleLoading()">Loading?</button>
            -->
        </div>
        <div class="row span8">
            <highchart id="chart1" config="chartConfig" class="span10"></highchart>
        </div>
	</div>

	<h3><a href="https://github.com/pablojim/highcharts-ng">See Highcharts-ng on github</a></h3>

</body>	
</html>